<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Keroka cafeteria</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" /> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="icon" href="{% static 'store/images/online-shopping.png' %}" type="image/icon"> 
	<style>
		@media only screen and (max-width: 768px) {
		  /* For mobile phones: */
		  .head, .nav-item{ 
			margin-right:10px;
		  } 
		}
	</style> 
</head>
<body>
	<nav class="navbar navbar-warning  bg-warning justify-content-between">
		<a class="head" href="{% url 'products' %}">CAFETERIA</a>  
		<form class="form-inline"> 

			{% if request.user.is_authenticated %}	
			
			<div class="nav-item ">
			  <a href="{% url 'order-summary' %}" class="nav-link waves-effect">
				<span class="badge red z-depth-1 mr-1 text-primary"> Hi&nbsp{{ request.user }} </span> 
				<span class="text-primary">cart</span>
			  </a>
			</div>
			<div class="nav-items active">
				<a class="nav-link waves-effect" href="{% url 'logout' %}">
				  <span class="badge red mr-0 text-primary">order</span>
				</a>
			</div>	
			<div class="nav-items active">
			  <a class="nav-link waves-effect" href="{% url 'logout' %}">
				<span class="badge red mr-0 text-primary"> logout </span>
			  </a>
			</div>
			{% else %}
			<div class="nav-items active">
			  <a class="nav-link waves-effect" href="{% url 'login' %}">
				<span class="badge red z-depth-1 mr-1 text-primary"> Login </span>
			  </a>
			</div>
			<div class="nav-items active">
			  <a class="nav-link waves-effect" href="{% url 'register' %}">
				<span class="badge red z-depth-1 mr-1 text-primary"> Signup </span>
			  </a>
			</div>
			{% endif %} 
		</form>
	  </nav> 

	  <div class="row">

     <div class="container">
            <br>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<div class="">
						{% if messages %}
							{% for message in messages %}
							<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
							  {{ message }}
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							{% endfor %}
						{% endif %}
						</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
            {% block content %}


            {% endblock content %}
         </div>

	{% comment %} <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> {% endcomment %}

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 

	
</body> 
</html>
